:root {
    --primary: var(--pink);
}

.bg-primary {
    background-color: var(--primary) !important;
}

/* body {
    background: #B7004E;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    color: white;
    text-align: center;
    display: none;
} */

#canvas {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}